{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="card">
        <h2 class="card-header text-center fw-bold bg-danger text-white">
            Create Pin
        </h2>
        <form action="{% url 'pintrverse:create-pin' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                {% include 'commons/messages.html' %}
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
                    <div class="col">
                      <label class="form-label fw-bold" for="{{form.pin_file.id_for_label}}">{{form.pin_file.label}} : </label>
                      {% render_field form.pin_file class+="form-control" %}  
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="{{form.title.id_for_label}}">{{form.title.label}} : </label>
                        {% render_field form.title class+="form-control" %}  
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="{{form.about.id_for_label}}">{{form.about.label}} : </label>
                        {% render_field form.about class+="form-control" %}  
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="{{form.alt_text.id_for_label}}">{{form.alt_text.label}} : </label>
                        {% render_field form.alt_text class+="form-control" %}  
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="{{form.destination_link.id_for_label}}">{{form.destination_link.label}} : </label>
                        {% render_field form.destination_link class+="form-control" %}  
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="{{form.category.id_for_label}}">{{form.category.label}} : <button type="button" class="btn btn-sm text-success" data-bs-toggle="modal" data-bs-target="#CatModal"><i class="fa-solid fa-plus"></i></button> </label>
                        {% render_field form.category class+="form-select" %}  
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold" for="{{form.tag.id_for_label}}">{{form.tag.label}} : <button type="button" class="btn btn-sm text-success" data-bs-toggle="modal" data-bs-target="#TagModal"><i class="fa-solid fa-plus"></i></button> </label>
                        {% render_field form.tag class+="form-select" size=4 multiple="multiple" %}  
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-dark" name="pinbtn">
                    <i class="fa-regular fa-floppy-disk"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="CatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="modal-body">
                {% render_field category.name class+="form-control" placeholder="Category Name" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="categorybtn">Create</button>
            </div>
        </form>
      </div>
    </div>
</div>
<div class="modal fade" id="TagModal" tabindex="-1" aria-labelledby="TagHeading" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="TagHeading">Create Tag</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="modal-body">
                {% render_field tag.name class+="form-control" placeholder="Tag Name" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" name="tagbtn">Create</button>
            </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}