{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <h1>Fetched Keyword Pin</h1>
    <table class="table table-borderless">

        <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Pin id</td>
            <td>Pin name</td>
            <td>User</td>
        </tr>
        </thead>

        <tbody>
        {% for pin in object_list %}
            <a href={% url 'pintrverse:detail-pin' pin.id %}>
                <tr>
                    <td>{{ pin.id }}</td>
                    <td>{{ pin.title }}</td>
                    <td>{{ pin.user }}</td>
                    {% with my_file=pin.pin_file %}
                        {% if my_file %}
                            <img src="{{ my_file.url }}">
                        {% else %}
                            <p>No file uploaded.</p>
                        {% endif %}
                    {% endwith %}
                </tr></a>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}
