{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header text-center bg-danger text-white">
            <h2 class="fw-bold">{{pin.title|capfirst}}</h2>
            <p class="text-muted mb-0">{{pin.category}}</p>
        </div>
        <img src="{{pin.pin_file.url}}" class="img-fluid" alt="..." height="200">
        <div class="card-body">
            
            {% autoescape off %}
                {{pin.about}}
            {% endautoescape %}
            
        </div>  
        <div class="card-footer">
            
            {% if pin.tag %}
            {% for tag in pin.tag.all %}
                #{{ tag }},
            {% endfor %}
            {% endif %}
                
        </div>
    </div>
</div>
{% endblock content %}