{% extends 'base.html' %}
{% block content %}

    <div class="container">
        {% for pin in object_list %}

            <div class="window">
                {% with my_file=pin.pin_file %}
                    {% if my_file %}
                        <a href={% url 'pintrverse:detail-pin' pin.id %}>
                            <img class="foto" src="{{ my_file.url }}"></a>
                    {% else %}
                        <p>No file uploaded.</p>
                    {% endif %}
                {% endwith %}
                <p class="content">Follow me</p>

            </div>
        {% endfor %}
    </div>
{% endblock %}


