{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href={% static 'base/css/base_css.css' %}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% block extra_css %}
    {% endblock %}

</head>

<body>
<div class="menu">
    <img draggable="false" class="logo" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png">
    <a class="home" href={% url 'pintrverse:all-pins' %}>Home</a>
    <a class="home" href={% url 'pintrverse:today-pin' %}>Today</a>
    <input id="one" type="text" class="search-bar" placeholder="Search">
    <button id="two" class="search-bar"></button>
    {% if request.user.is_authenticated == False %}
        <a class="home" href={% url 'users:register' %}>Register</a>
        <a class="home" href={% url 'users:login' %}>Login</a>
    {% else %}
        <a class="home" href={% url 'users:profile' %}>Profile</a>
        <a class="home" href={% url 'users:profile_edit' request.user.id %}>Update profile</a>
        <a class="home" href={% url 'users:logout'%}>Logout</a>
    {% endif %}
</div>
{% include 'commons/messages.html' %}
{% block content %}
{% endblock %}
</body>
</html>