{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mx-auto mt-5">
                <div class="card">
                    <div class="card-header">
                        <h4>This is the following list</h4>
                    </div>
                    <div class="card-body">
                        {% for user in object_list %}
                            <a href={% url 'users:other-user-profile' user.id %}>
                                <button>{{ user }}</button></a>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
