{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div style="text-align: center" class="md-3">
        {{ user.username }}
    </div>
    <div style="text-align: center">
        {{ user.full_name }}
    </div>
    <div style="text-align: center">
        <a href={% url 'users:following-list' %}>
            <button class="btn btn-primary" style="text-align: center">
                {{ user.total_following }} followings
            </button>
        </a>
    </div>
    <div style="text-align: center; padding: 20px">
        <a href={% url 'users:reset_password' %}>
            <button class="btn btn-primary" style="text-align: center">
                Reset Password
            </button>
        </a>
        <a href="{% url 'users:profile_edit' request.user.id%}">
            <button class="btn btn-primary" style="text-align: center">
                Edit Profile
            </button>
        </a>
    </div>

    <div style="text-align: center">
        <a href={% url 'pintrverse:create-pin' %}>
            <button class="btn btn-primary" style="text-align: center">
                Create Pin
            </button>
        </a>
        <a href={% url 'pintrverse:show-all-saved-pins' %}>
            <button class="btn btn-primary" style="text-align: center">
                Show all saved Pin
            </button>
        </a>
    </div>
    <hr>

{#    <div style="text-align: center">#}
{#        <a href={% url 'pintrverse:fetch_keyword' %}>#}
{#            <button class="btn btn-primary" style="text-align: center">#}
{#                Fetch Keyword#}
{#            </button>#}
{#        </a>#}
{#        <a href={% url 'pintrverse:fetch_keyword_cbv' %}>#}
{#            <button class="btn btn-primary" style="text-align: center">#}
{#                Fetch Keyword#}
{#            </button>#}
{#        </a>#}
{#    </div>#}
    <hr>
    <div style="text-align: center">
        <a href={% url 'pintrverse:search_users' %}>
            <button class="btn btn-primary" style="text-align: center">
                search other user
            </button>
        </a>
        <a href={% url 'pintrverse:search_pins' %}>
            <button class="btn btn-primary" style="text-align: center">
                search Pins
            </button>
        </a>

    </div>
{% endblock %}
