{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card-header {
            background-color: #e74c3c;
            color: #fff;
            font-weight: bold;
            border-radius: 0;
        }

        .card-body {
            padding: 20px;
        }

        button {
            background-color: #312c2c;
            color: #fff;
            border: none;
            border-radius: 0;
            padding: 10px 20px;
            font-weight: bold;
            transition: all 0.2s;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        button:hover {
            background-color: #71645e;
            cursor: pointer;
            transform: translateY(-2px);
        }

        hr {
            border-color: #c0392b;
            margin: 20px 0;
        }

        .user-link {
            text-decoration: none;
            color: #000;
            transition: all 0.2s;
        }

        .user-link:hover {
            text-decoration: none;
            color: #fff;
        }

        /* Responsive styles */
        @media (max-width: 576px) {
            button {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto mt-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-0">List of Users</h4>
                    </div>
                    <div class="card-body">
                        {% for user in object_list %}
                            <div class="my-3">
                                <a href="{% url 'users:other-user-profile' user.id %}" class="user-link">
                                    <button>{{ user }}</button>
                                </a>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
